@import'../variables/colors';
#main_menu{
    background-color: $black-color;
    padding: 20px 0;
    // position: fixed;
    .logo{
        color: darkorange;
        font-size: 50px;
        font-family: 'Ubuntu';
        font-weight: 700;
    }
    ul li a{
        font-size: 16px;
        font-weight: 600;
        color: $white-color;
        transition: .4s all ease;
        &:hover{
            color: #4f1bc5;
        }
    }
    .dropdown-menu a{
        background-color: black;
    }
}