#portfolio{
    padding: 50px 0;
    .portfolio_title{
        h6{
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            font-family: 'Ubuntu';
            color: #8670EF;
            // margin: auto;
            text-align: center;
            text-transform: capitalize;
        }
         p {
            font-size: 45px;
            font-weight: 600;
            line-height: 50px;
            margin: 20px 0;
            color: #141417;
            text-align: center;
            font-family: sans-serif;
        }
    }  
    .portfolio_items{
        width: 50%;
        text-align: center;
        margin-left: 300px;
        border: 1px solid rgba(128, 128, 128, 0.253);
        padding: 14px 10px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px -5px #6b7d6f;
        margin-bottom: 50px;
        
      li{
            display: inline-block;
            margin-right: 50px;
            text-align: center;
            a{
                color: #141417a4;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }
    .portfolio_item{
        display: flex;
        padding: 30px;
        border: 1px solid rgba(128, 128, 128, 0.253);
        box-shadow: 0 0 10px -5px #6b7d6f;
        background-color: #fff;
        border-radius: 10px;
    } 
    span{
        border-radius: 10px;
        background-color: #8670EF;
        padding: 15px 20px;
        margin-top: 50px ;
        font-size: 18px;
        color: #141417;
        font-weight: 500;
        font-family: sans-serif;
        text-align: center;
        transition: .4s all ease;
        &:hover{
            background-color: darkorange;
        }
    }
    h3{
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 700;
        color: #141417;
        margin: 30px 10px;
    }
    p{
        font-size: 18px;
        font-weight: 500;
        font-family: sans-serif;
        line-height: 25px;
        color: #6b7d6f;
        margin: 0 10px;
    }
    .portfolio_bg{
        img{
            border-radius: 20px;
        }
    }
}